doctype html
html
  head
    title= title

    <!-- CSS (Materialize and stylesheets) -->
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    <!-- JS (Materialize)-->
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')

  body
    block content
